.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color:  #00BFA6;;
  }

  .container h2 {
    text-align: center;
  }
  
  .formContainer {
    border: 1px solid #00BFA6;
    border-radius: 10px;
    padding: 30px;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .formGroup {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    margin: 0px;
    padding: 10px 0px;
    width: 100%;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
  }
  
  textarea {
    resize: vertical;
  }
  
  .button {
    background-color: #00BFA6;
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #009688;
  }
  
  .table-container {
    margin-top: 20px;
  }
  .form {
    width: 100%;
  }
  
  table {
    margin: 15px 0px;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #00BFA6;
  }
  
  th, td {
    border: 1px solid #00BFA6;
    padding: 5px;
    text-align: center;
    width: 100%;
  }
  
  .unchangeTd, 
  .unchangeTh{ 
    border: 1px solid #00BFA6;
    padding: 15px;
    text-align: center;
  }

  th {
    width: 30%;
    background-color: #00BFA6;
    color: white;
    font-weight: 400;
  }
  
  td {
    width: 70%;
  }
  
  th:first-child,
  td:first-child {
    border-right: none;
  }
  
  th:last-child,
  td:last-child {
    border-left: none;
  }

  .profileImage {
    margin-bottom: 10px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }