.header {
  background-color: white;
  color: #00BFA6;
  height: 7vh;
  padding:0px 20px 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative; /* 팝업의 위치를 상대적으로 설정하기 위해 추가 */
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-container {
  position: relative;
}


.nav-toggle {
  font-size: 1.5rem;
  cursor: pointer;
}

.nav {
  position: absolute;
  top: 100%;
  right: 0;
  width: 200px;
  background-color: white;
  border: 1px solid #00BFA6;
  border-radius: 4px;
  display: none;
}

.nav-show {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.btn {
  padding: 10px;
  background-color: transparent;
  border: none;
  color: #00BFA6;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  color: #009688; /* 마우스 호버 시 색상 변경 */
}

