.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 30px;
   color: white;
 }

.header .open {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header .open p {
    margin-left: 5px;
    font-size: 14px;
}


.header .nav-list {
    display: flex;
    gap: 20px;
}

.header .nav-list li {
    font-size: 18px;
    font-weight: 300;
    transition: all 0.3s;
    cursor: pointer;
}
.header .nav-list li:hover {
    color: black;
}

.header .member-count {
    cursor: pointer;
    font-size: 14px;
}