.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 30px;
   color: white;
 }

.header .open {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header .open p {
    margin-left: 5px;
    font-size: 14px;
}


.header a, p {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap:10px;
}

.header a {
    font-size: 18px;
    font-weight: 300;
    transition: all 0.3s;
    cursor: pointer;
}
.header .a:hover {
    color: black;
}

.header p {
    font-size: 14px;
}